@use '../helpers' as *;

.button {
	@include flex-center;

	padding: 0;
	height: auto;

	background-color: transparent;

	border: none;
	outline: none;
	white-space: nowrap;

	&--accent {
		height: rem(48);
		padding-inline: rem(16);
		gap: rem(12);

		background-color: var(--color-accent);
		border-radius: var(--border-radius);

		font-weight: 600;
		font-size: rem(16);
		line-height: 1.5;
		color: var(--color-text);

		@include hover {
			background-color: var(--color-bg-input)
		}
	}

	&--square,
	&--little-square {
		background-color: var(--color-bg-input);
		border-radius: var(--border-radius);

		color: var(--color-text);

		@include hover {
			background-color: var(--color-accent);
		}
	}

	&--square {
		@include square(rem(48));
	}

	&--little-square {
		@include square(rem(24));
	}
}