@use '../helpers' as *;

.pagination {
    &-container {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
				margin-block: var(--section-margin-y);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: rem(18);
    }

    &__button {
        color: var(--color-pagination);

        &--active {
            background-color: var(--color-accent);
            color: var(--color-text);
        }

        &--arrow {
            color: var(--color-text);
        }

        &--long {
            width: rem(64);
        }
    }

    &__info {
        color: var(--color-light);
				opacity: .5;
    }
}