@use '../helpers' as *;

body {
	display: flex;
	flex-direction: column;
	font-size: rem(16);
	font-weight: 400;
	font-family: var(--font-family-base);
	color: var(--color-text);
	background-color: var(--color-bg);
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
	overflow-x: hidden;
}

footer {
	margin-top: auto;
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;

	&[class] {
		text-decoration: none;
	}
}